<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Bean Definitions -->
    <bean id="userConfigBean" class="my.spring.boot.project.bean.UserConfig">
        <property name="name" value="John Doe" />
        <property name="className" value="ExampleClass" />
    </bean>

    <bean id="userService" class="my.spring.boot.project.service.UserService">
        <constructor-arg ref="userConfigBean"/>
    </bean>

    <bean id="orderService" class="my.spring.boot.project.service.OrderService" factory-method="createInstance">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="userConfigBean"/>
    </bean>

</beans>

